<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <a [routerLink]="['/dashboard']">Home</a>&nbsp;&nbsp; <a>|</a>
  <a>Answer this question</a>
  <a href="/" style="margin-left:1000px;">Logout</a>
  <br><br>
  <h1>Question :{{question.question}}</h1>
  <h3>Description : {{question.description}}</h3>
</body>
</html>